﻿@{
    // Bootstrap angular application

    // Add all common scripts before Scripts/images/app
        // Nothing to add
    
    // Angular app
    @Scripts.Render("~/Scripts/images/app.js")
    @Scripts.Render("~/Scripts/images/config.js");

    // Directives
    // Nothing to add

    // Controllers
    @Scripts.Render("~/Scripts/images/controllers/imagesUploadController.js");

    // Services
    @Scripts.Render("~/Scripts/images/services/imagesUploadSvc.js")
}

<div data-ng-app="imagesUploadApp" class="jumbotron">
    Image conversion application.
    <br />
    @Html.Partial("ImagesUpload/ImagesUpload")
</div>






