﻿
<div class="jumbotron" data-ng-controller="imagesUploadController as model">
    <div class="col-md-4" data-ng-show="model.filesCount == 0 && !model.uploading" data-ng-repeat="image in model.ImagePlaceholders">
        <img data-ng-src="{{image.image_src}}" alt="" style="max-width: 100%; max-height: 100%" id="{{image.image_index}}" />
    </div>
    <div class="col-md-4" data-ng-show="model.filesCount > 0" data-ng-repeat="image in model.ImagePlaceholders">
        <a data-ng-if="model.uploading">
            <div data-ng-if="model.showLoadingImage()" style="background-image: url('../../../Images/wait_ani_xl.gif');
            height:40px;
            background-repeat: no-repeat;
            background-position:center;
            background-color: #eeeeee"></div>
        </a>
    </div>
   
    <div class="col-md-4" data-ng-if="model.ImagesData.Success == true" data-ng-repeat="image in model.ImagePlaceholders">
        <div class="col-lg-4" style="float: left;">
            {{ model.ImagesData.Success }}
        </div>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
        <input type="file" id="selectImagesInput" multiple accept="image/*" style="display: none" name="selectImagesInput">
        <input type="button"
               value="Select"
               data-ng-click="model.selectImages()" />
        <input type="button"
               value="Send"
               data-ng-disabled="model.uploading"
               data-ng-click="model.sendImages()" />
    </div>
</div>
